In [132]:
#Ejecutar esta celda primero para importar las dependencias en las demás celdas.
import pandas as pd
import numpy as np
import math
#funcion que permite configurar el maximo de filas en pandas
def configurarMaximoDeFilas( X ):
    pd.set_option('display.max_rows', X)    
#configuramos pandas con 120 filas como mucho.
configurarMaximoDeFilas(120)

# 2. GENERACIÓN DE NUMEROS ALEATORIOS
## 2.1. GENERADORES CONGRUENCIALES LINEALES
$N_{i+1} = A*N_i + C \pmod M$
### Ejemplo:
  
Calcular los primeros dos números generados según la fórmula dada y
según los siguientes valores:  
+ $N_0 = 17$ 
+ $A = 10$
+ $M = 30$
+ $C = 0$  
página 43

In [133]:
#Funcion que me genera los 2 primeros números aleatorios por medio de un generador congruencial lineal.
def generadorCongruencialLineal2Primeros(N0,A,M,C):
    N = N0
    data= []
    for i in range (2):
        data.append([i,N])
        N = (A*N + C) % M
    tabla = pd.DataFrame(columns=["n" , "Xn"] , data = data)
    display(tabla)

In [134]:
#Ejecución del programa
N0 = 17
A = 10
M = 30
C = 0
generadorCongruencialLineal2Primeros(N0,A,M,C)

   n  Xn
0  0  17
1  1  20

## 2.1.1. Método aditivo de congruencias:
$N_{i+1} = [N_i + N_{i-k}] \pmod M$
### Ejemplo 
Sea una secuencia de enteros dados: x1, x2, x3, x4 y x5 (57, 34,
89, 92 y 16), por tanto k =5. Consideremos m = 100. La secuencia
anterior puede ser ampliada por este método:  
página 44

In [135]:
#funcion que genera M numeros aleatorios por el método aditivo de congruencias.
def aleatoriosMetodoAditivoDeCongruencias(X , M):
    K = len(X)
    print ("K = ",K)
    print ("X aleatorios generados")
    for i in range(K,M+1):
        X.append((X[i - 1]+ X[i - K]) % M)
    tablaX = pd.DataFrame(columns=["Xi"] , data = X , index=range(1,M+2))
    display(tablaX)
    Xnorm = np.array(X)
    Xnorm = Xnorm/M
    tablaXnorm  = pd.DataFrame(columns=["XiNorm"] , data = Xnorm , index = range(1,M+2))
    print ("X aleatorios normalizados generados")
    display(tablaXnorm)

In [136]:
#Ejecución del programa
M = 100
X = []
X.append(57)
X.append(34)
X.append(89)
X.append(92)
X.append(16)
aleatoriosMetodoAditivoDeCongruencias(X, M)

K =  5
X aleatorios generados

     Xi
1    57
2    34
3    89
4    92
5    16
6    73
7     7
8    96
9    88
10    4
11   77
12   84
13   80
14   68
15   72
16   49
17   33
18   13
19   81
20   53
21    2
22   35
23   48
24   29
25   82
26   84
27   19
28   67
29   96
30   78
31   62
32   81
33   48
34   44
35   22
36   84
37   65
38   13
39   57
40   79
41   63
42   28
43   41
44   98
45   77
46   40
47   68
48    9
49    7
50   84
51   24
52   92
53    1
54    8
55   92
56   16
57    8
58    9
59   17
60    9
61   25
62   33
63   42
64   59
65   68
66   93
67   26
68   68
69   27
70   95
71   88
72   14
73   82
74    9
75    4
76   92
77    6
78   88
79   97
80    1
81   93
82   99
83   87
84   84
85   85
86   78
87   77
88   64
89   48
90   33
91   11
92   88
93   52
94    0
95   33
96   44
97   32
98   84
99   84
100  17
101  61

X aleatorios normalizados generados

     XiNorm
1      0.57
2      0.34
3      0.89
4      0.92
5      0.16
6      0.73
7      0.07
8      0.96
9      0.88
10     0.04
11     0.77
12     0.84
13     0.80
14     0.68
15     0.72
16     0.49
17     0.33
18     0.13
19     0.81
20     0.53
21     0.02
22     0.35
23     0.48
24     0.29
25     0.82
26     0.84
27     0.19
28     0.67
29     0.96
30     0.78
31     0.62
32     0.81
33     0.48
34     0.44
35     0.22
36     0.84
37     0.65
38     0.13
39     0.57
40     0.79
41     0.63
42     0.28
43     0.41
44     0.98
45     0.77
46     0.40
47     0.68
48     0.09
49     0.07
50     0.84
51     0.24
52     0.92
53     0.01
54     0.08
55     0.92
56     0.16
57     0.08
58     0.09
59     0.17
60     0.09
61     0.25
62     0.33
63     0.42
64     0.59
65     0.68
66     0.93
67     0.26
68     0.68
69     0.27
70     0.95
71     0.88
72     0.14
73     0.82
74     0.09
75     0.04
76     0.92
77     0.06
78     0.88
79     0.97
80     0.01
81     0.93
82     0.99
83     0.87
84     0.84
85     0.85
86     0.78
87     0.77
88     0.64
89     0.48
90     0.33
91     0.11
92     0.88
93     0.52
94     0.00
95     0.33
96     0.44
97     0.32
98     0.84
99     0.84
100    0.17
101    0.61

## 2.1.2. Método multiplicativo de congruencias:
$X_{i+1} = A* X_i \pmod M$
### Ejemplo:
Tomando :  
    $A = 181$  
    $Xo = 501$  
    $M = 32768$  
página 47

In [137]:
#funcion que permite generar 10 aleatorios
def funcionGenerar10Aleatorios(A,X0,M):
    data= []
    columns = ["n" , "Xn"]
    X = X0
    #Desde 1 hasta 10, python no toma el último valor
    for i in range ( 1 , 10 + 1 ):
        X = X * ( A %  M  )
        X = X - (X//M) * M
        #Si el resultado es negativo se utiliza:
        #Y = X/M
        data.append([i,X])
    tabla = pd.DataFrame(columns=columns , data=data)
    display(tabla)

In [138]:
#Ejecución del programa
A = 181
X0 = 501
M = 32768
funcionGenerar10Aleatorios(A = A , X0 = X0 , M = M)

    n     Xn
0   1  25145
1   2  29261
2   3  20593
3   4  24549
4   5  19689
5   6  24765
6   7  26017
7   8  23253
8   9  14489
9  10   1069

## Ejemplo:
$M = {2}^{b}$ .    
Si $b=6$ y $M = 26$  
$X_{n+1} = A*X_n \pmod M$  
Tomando A = 13, Semilla = 7 se obtienen los siguientes valores:  
    Página 48

In [119]:
#Función que permite comparar el periodo experimental con el esperado
def funcionPeridoEsperado(b,A,X):
    import pandas as pd
    data= []
    columns = ["n" , "Xn"]
    M = 2**(b)
    print ("M = ",M)
    H = 0
    while ( True ):
        X = A * (X % M)
        X = X - (X//M) * M
        if(H == 0):
            X0 = X
        if( X == X0 and H != 0 ):
            print("El periodo experimental de los números es : ",H)
            break;
        H = H + 1
        data.append([H,X])
    print ("El periodo esperado de los números es :", M//4)
    tabla = pd.DataFrame(columns=columns , data=data)
    display (tabla)

In [126]:
#Ejecución 1 del programa
A = 13
X = 7
b = 6
funcionPeridoEsperado(b = b, X = X , A = A)

M =  64
El periodo experimental de los números es :  16
El periodo esperado de los números es : 16

     n  Xn
0    1  27
1    2  31
2    3  19
3    4  55
4    5  11
5    6  15
6    7   3
7    8  39
8    9  59
9   10  63
10  11  51
11  12  23
12  13  43
13  14  47
14  15  35
15  16   7

In [127]:
#Ejecucion 2 del programa
A = 13
X = 5
b = 6
funcionPeridoEsperado(b = b, X = X , A = A)

M =  64
El periodo experimental de los números es :  16
El periodo esperado de los números es : 16

     n  Xn
0    1   1
1    2  13
2    3  41
3    4  21
4    5  17
5    6  29
6    7  57
7    8  37
8    9  33
9   10  45
10  11   9
11  12  53
12  13  49
13  14  61
14  15  25
15  16   5

## 2.1.2.1 Método del módulo primo
$X_{i+1} = A * X_i \pmod M$
### Ejemplo.
Escribir una rutina para generar números aleatorios escogiendo el mejor valor del módulo M<100   
y un valor de A apropiado que garanticen el mayor período posible. (Método multiplicativo)    
página 51-52

## 2.1.3 Método mixto de congruencias
$X_{i+1} = [A * X_i + C] \pmod M$
### Ejercicio 1
Hallar A y Xo tal que garanticen el máximo período, con un M = 32.  (Método Multiplicativo).   
página 54

In [139]:
#funcion que permite garantizar el máximo periodo en el método multiplicativo
def metodoMultiplicativoPeriodoMaximo(M,X0):
    columnas = ["n","Xn"]
    data= []
    A = int(math.sqrt(M))
    H = 0
    X = X0
    while((X != X0) or (H == 0) ):
        data.append([H,X])
        X = A * X % M
        H = H + 1
    tabla = pd.DataFrame(columns=columnas,data=data)
    display(tabla)
    return H

In [140]:
#Ejecución del programa 1
M = 32
X0 = 11
H = metodoMultiplicativoPeriodoMaximo(M,X0)
print("El periodo máximo esperado es: ",M//4)
print("El periodo máximo experimental es: ",H)

   n  Xn
0  0  11
1  1  23
2  2  19
3  3  31
4  4  27
5  5   7
6  6   3
7  7  15

El periodo máximo esperado es:  8
El periodo máximo experimental es:  8

In [130]:
#Ejecución del programa 2
M = 32
X0 = 7
H = metodoMultiplicativoPeriodoMaximo(M,X0)
print("El periodo máximo esperado es: ",M//4)
print("El periodo máximo experimental es: ",H)

   n  Xn
0  0   7
1  1   3
2  2  15
3  3  11
4  4  23
5  5  19
6  6  31
7  7  27

El periodo máximo esperado es:  8
El periodo máximo experimental es:  8

## Método aditivo de congruencias
### Ejercicio 2
Para la siguiente ecuación de recurrencia (Método Aditivo de Congruencias)  
$X_n = [X_{n-1} + X_{n-2}] \pmod {16} $  
Hacer un programa para hallar el período.  
página 55

In [141]:
#Función que permite calcular el periodo maximo por el método aditivo de congruencias.
def MetodoAditivoCongruenciasPeriodoMaximo(S1,S2,M):
    import pandas as pd
    data= []
    columns = ["n" , "Xn"]
    U = S2  
    P = S1
    H = 0
    while (True): 
        N= (U + P) % M
        H = H + 1
        data.append([H,N])
        if N == S2 and U == S1:
            break;
        P = U 
        U = N
    tabla = pd.DataFrame(columns=columns,data=data)
    return H,tabla

In [142]:
#Ejecución del programa
S1 = 1
S2 = 8
M = 16
periodo, tabla = MetodoAditivoCongruenciasPeriodoMaximo(S1 = S1 , S2 = S2, M = M)
print ("El periodo obtenido es: ",periodo)
display(tabla)

El periodo obtenido es:  24

     n  Xn
0    1   9
1    2   1
2    3  10
3    4  11
4    5   5
5    6   0
6    7   5
7    8   5
8    9  10
9   10  15
10  11   9
11  12   8
12  13   1
13  14   9
14  15  10
15  16   3
16  17  13
17  18   0
18  19  13
19  20  13
20  21  10
21  22   7
22  23   1
23  24   8

## Ejercicio 3
### Dada la siguiente expresión (Método Mixto de Congruencias):
$X_{i} = [A * X_{i-1} + c \pmod M]$
si se tienen las siguientes condiciones:  
+ $M = 37$
+ $X_0 = 2$
+ $C = 0$  
Escribir el programa y los valores de A que garantizan un período Máximo.   
Página 55 - 56

In [32]:
M = 37
X0 = int(input("X0 =  "))
A = 1
for i in range (1,M):
    X = X0
    H = 0
    while (X != X0 or H == 0):
        X = A * X % M
        H = H + 1
    if ( H == 36):
        print ("Valor de A máximo = ",A)
        
    A  = A + 1
    print ("iteración ",i," completada")

X0 =  7
iteración  1  completada
Valor de A máximo =  2
iteración  2  completada
iteración  3  completada
iteración  4  completada
Valor de A máximo =  5
iteración  5  completada
iteración  6  completada
iteración  7  completada
iteración  8  completada
iteración  9  completada
iteración  10  completada
iteración  11  completada
iteración  12  completada
Valor de A máximo =  13
iteración  13  completada
iteración  14  completada
Valor de A máximo =  15
iteración  15  completada
iteración  16  completada
Valor de A máximo =  17
iteración  17  completada
Valor de A máximo =  18
iteración  18  completada
Valor de A máximo =  19
iteración  19  completada
Valor de A máximo =  20
iteración  20  completada
iteración  21  completada
Valor de A máximo =  22
iteración  22  completada
iteración  23  completada
Valor de A máximo =  24
iteración  24  completada
iteración  25  completada
iteración  26  completada
iteración  27  completada
iteración  28  completada
iteración  29  completada
iteración  30  completada
iteración  31  completada
Valor de A máximo =  32
iteración  32  completada
iteración  33  completada
iteración  34  completada
Valor de A máximo =  35
iteración  35  completada
iteración  36  completada