## Ejemplo:
Tomando :  
    $A = 181$  
    $Xo = 501$  
    $M = 32768$  
página 47

In [103]:
def funcionGenerar10Aleatorios(A,X0,M):
    import pandas as pd
    data= []
    columns = ["n" , "Xn"]
    X = X0
    #Desde 1 hasta 10, python no toma el último valor
    for i in range ( 1 , 10 + 1 ):
        X = X * ( A %  M  )
        X = X - (X//M) * M
        #Si el resultado es negativo se utiliza:
        #Y = X/M
        data.append([i,X])
    tabla = pd.DataFrame(columns=columns , data=data)
    return tabla

In [104]:
A = 181
X0 = 501
M = 32768
tabla = funcionGenerar10Aleatorios(A = A , X0 = X0 , M = M)
tabla

    n     Xn
0   1  25145
1   2  29261
2   3  20593
3   4  24549
4   5  19689
5   6  24765
6   7  26017
7   8  23253
8   9  14489
9  10   1069

## Ejemplo:
$M = {2}^{b}$ .    
Si $b=6$ y $M = 26$  
$X_{n+1} = A*X_n \pmod M$  
Tomando A = 13, Semilla = 7 se obtienen los siguientes valores:  
    Página 48

In [85]:
def funcionPeridoEsperado(b,A,X):
    import pandas as pd
    data= []
    columns = ["n" , "Xn"]
    M = 2**(b)
    print ("M = ",M)
    H = 0
    while ( True ):
        X = A * (X % M)
        X = X - (X//M) * M
        if(H == 0):
            X0 = X
        if( X == X0 and H != 0 ):
            print("El periodo experimental de los números es : ",H)
            break;
        H = H + 1
        data.append([H,X])
    print ("El periodo esperado de los números es :", M//4)
    tabla = pd.DataFrame(columns=columns , data=data)
    return tabla

In [91]:
A = 13
X = 7
b = 6
tabla = funcionPeridoEsperado(b = b, X = X , A = A)
tabla

M =  64
El periodo experimental de los números es :  16
El periodo esperado de los números es : 16

     n  Xn
0    1  27
1    2  31
2    3  19
3    4  55
4    5  11
5    6  15
6    7   3
7    8  39
8    9  59
9   10  63
10  11  51
11  12  23
12  13  43
13  14  47
14  15  35
15  16   7

## Ejemplo.
Escribir una rutina para generar números aleatorios escogiendo el mejor valor del módulo M<100   
y un valor de A apropiado que garanticen el mayor período posible. (Método multiplicativo)    
página 51-52

## Ejercicio 1
Hallar A y Xo tal que garanticen el máximo período, con un M = 32.  
(Método Multiplicativo).  
página 54

In [92]:
def metodoMultiplicativoPeriodoMaximo(M,X0):
    import math
    import pandas as pd
    columnas = ["n","Xn"]
    data= []
    A = int(math.sqrt(M))
    H = 0
    X = X0
    while((X != X0) or (H == 0) ):
        data.append([H,X])
        X = A * X % M
        H = H + 1
    tabla = pd.DataFrame(columns=columnas,data=data)
    print(tabla)
    return H

In [93]:
M = 32
X0 = 11
H = metodoMultiplicativoPeriodoMaximo(M,X0)
print("El periodo máximo esperado es: ",M//4)
print("El periodo máximo experimental es: ",H)

   n  Xn
0  0  11
1  1  23
2  2  19
3  3  31
4  4  27
5  5   7
6  6   3
7  7  15
El periodo máximo esperado es:  8
El periodo máximo experimental es:  8

In [94]:
M = 32
X0 = 7
H = metodoMultiplicativoPeriodoMaximo(M,X0)
print("El periodo máximo esperado es: ",M//4)
print("El periodo máximo experimental es: ",H)

   n  Xn
0  0   7
1  1   3
2  2  15
3  3  11
4  4  23
5  5  19
6  6  31
7  7  27
El periodo máximo esperado es:  8
El periodo máximo experimental es:  8

## Ejercicio 2
Para la siguiente ecuación de recurrencia (Método Aditivo de Congruencias)  
Xn = (Xn-1 + Xn-2) MOD 16  
Hacer un programa para hallar el período.  
página 55

In [101]:
def MetodoAditivoCongruenciasPeriodoMaximo(S1,S2,M):
    import pandas as pd
    data= []
    columns = ["n" , "Xn"]
    U = S2  
    P = S1
    H = 0
    while (True): 
        N= (U + P) % M
        H = H + 1
        data.append([H,N])
        if N == S2 and U == S1:
            break;
        P = U 
        U = N
    tabla = pd.DataFrame(columns=columns,data=data)
    return H,tabla

In [102]:
S1 = 1
S2 = 8
M = 16
periodo, tabla = MetodoAditivoCongruenciasPeriodoMaximo(S1 = S1 , S2 = S2, M = M)
print ("El periodo obtenido es: ",periodo)
tabla

El periodo obtenido es:  24

     n  Xn
0    1   9
1    2   1
2    3  10
3    4  11
4    5   5
5    6   0
6    7   5
7    8   5
8    9  10
9   10  15
10  11   9
11  12   8
12  13   1
13  14   9
14  15  10
15  16   3
16  17  13
17  18   0
18  19  13
19  20  13
20  21  10
21  22   7
22  23   1
23  24   8